@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Mono&family=Russo+One&display=swap');


/*variable*/
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Russo One', sans-serif;*/
/*variable*/
:root {
    --Josefine: 'Josefin Sans', sans-serif;
    --Roboto: 'Roboto Mono', monospace;
    --Russo: 'Russo One', sans-serif;
    --Negro: #0B0C0F;
    --Negro1: #090A0D;
    --Negro2: #1B1D21;
    --Negro3: #222326;
    --Negro4: #313337;
    --Azul: #2BB3FF;
    --Verde: #6AC47F;
    --Morado: #9052F2;
    --Rosa: #EF62A9;
    --Naranja: #EFA742;
}

/*html*/
html {
    scroll-behavior: smooth;
}

.Titulo {
    font-family: var(--Russo);
    font-size: 50px;
    color: white;
}

.Texto {
    font-family: var(--Josefine);
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--Josefine);
}

.Boton {
    color: var(--Azul);
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    border-color: var(--Azul);
    position: relative;
    font-weight: bold;
}

.Boton:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 0 16px var(--Azul);
    transition: all 0.2s ease;
}

.Boton:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgba(43, 179, 255, .1);
    color: white;
    transition: all 1s ease;
}

.Boton:hover:before {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/*body*/
body {
    background-color: var(--Negro2);
}

/*nav*/
nav {
    position: fixed;
    width: 12vw;
    height: 100vh;
    background-color: var(--Negro);
}

nav .cont_img {
    width: 100%;
}

nav .cont_img img {
    width: 100%;
}

nav ul {
    font-family: var(--Josefine);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 1;
}

nav ul li {
    margin-top: 50px;
}

nav ul li a {
    text-decoration: none !important;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

nav ul li a:hover,
a:focus {
    background-size: 100% 2px;
}

nav .checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin: 0px 0 0 20px;
    cursor: pointer;
    display: none;
    position: static;
    z-index: 100;
}

nav #check {
    display: none;
}

/*nav*/

/*Presentacion*/
#Presentacion {
    width: 88%;
    height: 100vh;
    float: right;
    position: inherit;
}

.Presentacion .cont .pres_cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.Presentacion .cont .cont_txt {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: min(50px);
}

.Presentacion .cont .cont_txt .Frase {
    font-size: 30px;
    color: white;
    font-family: var(--Josefine);
    width: 100px;
}

.Presentacion .cont .cont_img {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Presentacion .cont .cont_img img {
    height: 80%;
}

.Presentacion .cont .cont_buton {
    height: 20vh;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.Presentacion .cont .cont_buton .Boton {
    margin: 0 auto 0 auto;
    width: 150px;
}

/*Presentacion*/

/*SobreMi*/
#SobreMi {
    height: 100vh;
    width: 88%;
    float: right;
    color: white;

}

/*SobreMi*/

@media (max-width: 800px) {

    nav {
        position: absolute;
        z-index: 1;
        background-color: var(--Negro2);
        height: auto;
    }

    nav .checkbtn {
        display: block;
    }

    nav img {
        display: none;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--Negro);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav #check:checked~ul {
        left: 0;
    }

    #Presentacion {
        width: 100%;
        height: 100vh;
    }

    .Presentacion {
        position: absolute !important;
        height: 100vh;
        left: 0;
    }

    .Presentacion .pres_cont {
        grid-template-rows: 1fr 1fr;
    }

    .Presentacion .cont .pres_cont {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .cont .pres_cont .cont_txt {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .cont .pres_cont .cont_txt div {
        text-align: center;
        margin-top: 100px;
    }

    .Presentacion .cont .cont_img {
        height: auto;
        content: url(Img/Logo_Ar.svg);
        margin: 20px auto 20px auto;
        width: 200px;
    }

}
@media (max-width: 500px){
    .Presentacion .cont .pres_cont .Titulo{
        font-size: 40px;
    }
    .Presentacion .cont .pres_cont .Frase{
        font-size: 20px;
    }
}