@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Mono&family=Russo+One&display=swap');


/*variable*/
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Russo One', sans-serif;*/
/*variable*/
:root {
    --Josefine: 'Josefin Sans', sans-serif;
    --Roboto: 'Roboto Mono', monospace;
    --Russo: 'Russo One', sans-serif;
    --Negro: #0B0C0F;
    --Negro1: #090A0D;
    --Negro2: #1B1D21;
    --Negro3: #222326;
    --Negro4: #313337;
    --Azul: #2BB3FF;
    --Verde: #6AC47F;
    --Morado: #9052F2;
    --Rosa: #EF62A9;
    --Naranja: #EFA742;
}

/*html*/
html {
    scroll-behavior: smooth;
}

.Titulo {
    font-family: var(--Russo);
    font-size: 50px;
    color: white;
    padding-top: 40px;
}

.Texto {
    font-family: var(--Josefine);
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--Josefine);
}

.Boton {
    color: var(--Azul);
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    border-color: var(--Azul);
    position: relative;
    font-weight: bold;
}

.Boton:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 0 16px var(--Azul);
    transition: all 0.2s ease;
}

.Boton:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgba(43, 179, 255, .1);
    color: white;
    transition: all 1s ease;
}

.Boton:hover:before {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/*body*/
body {
    background-color: var(--Negro2);
}

/*nav*/
nav {
    position: fixed;
    width: 12vw;
    height: 100vh;
    background-color: var(--Negro);
}

nav .cont_img {
    width: 100%;
}

nav .cont_img img {
    width: 100%;
}

nav ul {
    font-family: var(--Josefine);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 1;
}

nav ul li {
    margin-top: 50px;
}

nav ul li a {
    text-decoration: none !important;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

nav ul li a:hover,
a:focus {
    background-size: 100% 2px;
}

nav .checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin: 0px 0 0 20px;
    cursor: pointer;
    display: none;
    position: static;
    z-index: 100;
}

nav #check {
    display: none;
}

/*nav*/

/*Presentacion*/
#Presentacion {
    width: 88%;
    height: 100vh;
    float: right;
    position: inherit;
}

.Presentacion .cont .pres_cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.Presentacion .cont .cont_txt {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: min(50px);
}

.Presentacion .cont .cont_txt .Frase {
    font-size: 30px;
    color: white;
    font-family: var(--Josefine);
    width: 100px;
}

.Presentacion .cont .cont_img {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Presentacion .cont .cont_img img {
    height: 80%;
}

.Presentacion .cont .cont_buton {
    height: 20vh;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.Presentacion .cont .cont_buton .Boton {
    margin: 0 auto 0 auto;
    width: 150px;
}

/*Presentacion*/

/*SobreMi*/
#SobreMi {
    width: 88%;
    height: 100vh;
    float: right;
    color: white;
    position: inherit;
}

.SobreMi {
    display: grid;
    grid-template-rows: 20vh 80vh;
}

.SobreMi p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SobreMi .Titulo {
    font-size: 40px;
}

.SobreMi .cont1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cont1 .cont1_draw {
    /*display: none;*/
    height: 100%;
    width: 100%;
}

.cont1 .cont1_txt {
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
}

.SobreMi .Boton {
    width: 100px;
}

/*SobreMi*/

/*Trabajos*/
#Trabajos {
    width: 88%;
    position: inherit;
    float: right;
}

.Trabajos .Titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.image-mosaic {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/*Trabajos*/

/*Habilidades*/
#Habilidades {
    width: 88%;
    position: inherit;
    float: right;
    height: auto;
}

.Habilidades .Titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.Habilidades .habilidad_titulo {
    font-family: var(--Josefine);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 30px 0 30px 0;
}

.Habilidades .cont_medallas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Habilidades .cont_medallas .quiz-medal {
    justify-self: center;
}

.quiz-medal {
    position: relative;
    margin-bottom: 16px;
    margin: 40px 0 40px 0;
}

.circle.bronze {
    box-shadow: inset 0 0 0 #955405, 2px 2px 0 rgb(0 0 0 / 8%);
    border-color: #f7bb23;
    text-shadow: 0 0 4px #7d4604;
    background: linear-gradient(to bottom right, #df7e08 50%, #c67007 50%);
}

.circle.silver {
    box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgb(0 0 0 / 8%);
    border-color: #edeff1;
    text-shadow: 0px 0px 4px #98a6ad;
    background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
    color: #f31903 !important;
}

.circle {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 56px;
    vertical-align: middle;
    position: relative;
    border-width: 0.2em;
    border-style: solid;
    z-index: 1;
    box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgb(0 0 0 / 8%);
    border-color: #edeff1;
    text-shadow: 2px 2px 0 #98a6ad;
    background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}

.left {
    border-color: #FC402D #FC402D transparent #FC402D;
    left: 13px;
    transform: rotate(20deg) translateZ(-32px);
}

.quiz-medal__ribbon {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 6px 10px;
    width: 0;
    height: 20px;
    top: 50px;
}

.right {
    left: 35px;
    border-color: #f31903 #f31903 transparent #f31903;
    transform: rotate(-20deg) translateZ(-48px);
}

.softSkills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.softSkills p {
    color: white;
    margin: 12px 0 12px 0;
    padding: 0px 10px 0 10px;
    text-align: center;
    font-family: var(--Roboto);
    font-style: italic;
}

#Contacto {
    width: 88%;
    float: right;
    height: 100vh;
}

/*Habilidades*/

/*Contacto*/
.Contacto .Titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.redes {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.social_red {
    width: 70px;
    height: 70px;
    font-size: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--Negro);
    margin: 10px auto 10px auto;
}

.redes a{
    width: 70px;
    height: 70px;
    margin: 0 auto 0 auto;
}

.face {
    color: white;
    text-shadow: 2px 1px 0px var(--Azul);
    box-shadow: 0px 0px 20px var(--Azul);
}

.whats {
    color: white;
    text-shadow: 2px 1px 0px var(--Verde);
    box-shadow: 0px 0px 20px var(--Verde);
}

.gmail{
    color: white;
    text-shadow: 2px 1px 0px var(--Naranja);
    box-shadow: 0px 0px 20px var(--Naranja);
}


/*Contacto*/

@media (max-width: 800px) {

    nav {
        position: fixed !important;
        z-index: 1;
        width: 0;
        background-color: var(--Negro2);
        height: auto;
    }

    nav .checkbtn {
        display: block;
    }

    nav img {
        display: none;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--Negro);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav #check:checked~ul {
        left: 0;
    }

    #Presentacion {
        position: none !important;
        width: 100%;
        height: 100vh;
    }

    .Presentacion {
        /*position: absolute !important;*/
        height: 100vh;
        left: 0;
    }

    .Presentacion .pres_cont {
        grid-template-rows: 1fr 1fr;
    }

    .Presentacion .cont .pres_cont {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .cont .pres_cont .cont_txt {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .cont .pres_cont .cont_txt div {
        text-align: center;
        margin-top: 100px;
    }

    .Presentacion .cont .cont_img {
        height: auto;
        content: url(Img/Logo_Ar.svg);
        margin: 20px auto 20px auto;
        width: 200px;
    }

    #SobreMi {
        width: 100%;
        height: 100vh;
        display: block !important;
    }

    .SobreMi {
        position: static !important;
        height: 100vh;
        left: 0;
    }

    .SobreMi .Titulo {
        margin: 20px 0 20px 0;
    }

    .SobreMi .cont1 {
        grid-template-columns: 1fr;
    }

    .SobreMi .cont1_draw {
        display: none;
    }

    .cont1 .cont1_txt {
        text-align: center;
    }

    #Habilidades {
        width: 100%;
    }

    #Contacto {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }
}

@media (max-width: 600px) {
    .softSkills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .Presentacion .cont .pres_cont .Titulo {
        font-size: 40px;
    }

    .Presentacion .cont .pres_cont .Frase {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .Habilidades .cont_medallas {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .softSkills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}